<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Cascade Pizza</title>

		<link rel="icon" href="images/pizza-icon.jpg" />

		<!-- Stylesheets-->
		<link rel="stylesheet" href="styles/styles.css" />
		<link
			rel="stylesheet"
			href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"
		/>

		<script src="js/pizza.js" defer></script>
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
	</head>
	<body>
		<header>
			<img src="images/pizza-cat.jpg" alt="pizza-cat" />
			<h1>Admin Page</h1>
			<table id="order-table" class="display">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Toppings</th>
						<th>Size</th>
						<th>Comment</th>
						<th>Date/Time</th>
					</tr>
				</thead>
				<tbody>
					<% orders.forEach(order => { %>
					<tr>
						<td><%= order.fname %> <%= order.lname %></td>
						<td><%= order.email %></td>
						<td><%= order.toppings %></td>
						<td><%= order.size %></td>
						<td><%= order.comment %></td>
						<td><%= new Date(order.timestamp).toLocaleString() %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
			<p id="tagline">The best pizza GRC students have ever tasted!</p>
			<hr />
			<p>
				"Family-owned pizzeria serving authentic, hand-tossed pizzas with fresh
				ingredients and a passion for quality since 1974."
			</p>
			<a id="contact-button" href="#" role="button">Contact Us</a>
		</header>

		<main>
			<h1>Contact Us</h1>
			<a href="/">Place an order</a>
		</main>
		<script defer>
			let table = new DataTable("#order-table");
		</script>
	</body>
</html>
