<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Cascade Pizza</title>

		<link rel="icon" href="images/pizza-icon.jpg" />

		<link rel="stylesheet" href="styles/styles.css" />

		<script src="js/pizza.js" defer></script>
	</head>
	<header>
		<img src="images/pizza-cat.jpg" alt="pizza-cat" />
		<h1>Cascade Pizza</h1>
		<p id="tagline">The best pizza GRC students have ever tasted!</p>
		<hr />
		<p>
			"Family-owned pizzeria serving authentic, hand-tossed pizzas with fresh
			ingredients and a passion for quality since 1974."
		</p>
		<a id="contact-button" href="#" role="button">Contact Us</a>
	</header>
	<body>
		<main>
			<h1>"Thank you for your order, <%= order.fname %>!"</h1>
			<h2>Order Summary</h2>
			<p>Name: <%= order.fname %> <%= order.lname %></p>
			<p>Email: <%= order.email %></p>
			<p>Toppings: <%= order.toppings %></p>
			<p>Size: <%= order.size %></p>
			<p>Comment: <%= order.comment %></p>
			<p>Date/Time: <%= order.timestamp %></p>
		</main>
	</body>
</html>
